<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>713528743965-5u4tga9ustgtn0p69516tueholqol8lu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.713528743965-5u4tga9ustgtn0p69516tueholqol8lu</string>
	<key>API_KEY</key>
	<string>AIzaSyAxbvl7vJMDByhKYC7cvaB8CE8vzRqAmek</string>
	<key>GCM_SENDER_ID</key>
	<string>713528743965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.-gamestorming.temporal.Fractal</string>
	<key>PROJECT_ID</key>
	<string>prueba-9d37c</string>
	<key>STORAGE_BUCKET</key>
	<string>prueba-9d37c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:713528743965:ios:3b4fe8159789998dba4ef4</string>
	<key>DATABASE_URL</key>
	<string>https://prueba-9d37c.firebaseio.com</string>
</dict>
</plist>